.titulo{
    text-align: center;
    font-size: 40px;
    color: gray;
}

.fundo{
    background-color: whitesmoke;
}

.modal-content {
      animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
      from { opacity: 0; transform: translateY(-20px); }
      to { opacity: 1; transform: translateY(0); }
}

.modal-dialog {
  margin-top: 150px;
}